<div class="relative">
    <button 
        (click)="clickNode()"
        (mouseover)="hoverNode()"
        (mouseout)="unhoverNode()"
        class="rounded-full node cursor-pointer"
        [style.backgroundColor]="nodeStyle.color"
        [style.width.px]="nodeStyle.size"
        [style.height.px]="nodeStyle.size"
        [style.border]="nodeStyle.border"
    ></button>

    <div *ngIf="node?.generatorPositions" class="absolute inset-0">
        <button 
            *ngFor="let entry of Object.entries(node?.generatorPositions ?? {}); let i = index;" 
            (click)="clickGenerator(i)"
            class="absolute cursor-pointer" 
            [style.left.px]="entry[1].x" 
            [style.top.px]="entry[1].y"
        >
            <fa-icon 
                [icon]="faIndustry" 
                class="text-lg text-gray-700"
            ></fa-icon>
        </button>
    </div>
</div>