<div class="relative">
    <button 
        (click)="clickNode()"
        (mouseover)="hoverNode()"
        (mouseout)="unhoverNode()"
        class="rounded-full node cursor-pointer z-50"
        [style.backgroundColor]="nodeStyle.color"
        [style.width.px]="nodeStyle.size"
        [style.height.px]="nodeStyle.size"
        [style.border]="nodeStyle.border"
    ></button>

    <div *ngIf="node?.generators && (node?.generators?.length ?? 0) > 0">
        <button 
            *ngFor="let generator of node?.generators; let i = index;" 
            (click)="clickGenerator(generator.id);"
            class="absolute cursor-pointer" 
            [style.left.px]="generator.x" 
            [style.top.px]="generator.y"
        >
            <fa-icon 
                [icon]="faIndustry" 
                [ngClass]="{
                    'text-black text-xl': generator.isSelected,
                    'text-gray-700 text-lg': !generator.isSelected
                }"
            ></fa-icon>
        </button>
    </div>
</div>