<div class="relative">
    <button 
        (click)="clickNode()"
        (mouseover)="hoverNode()"
        (mouseout)="unhoverNode()"
        class="rounded-full node cursor-pointer"
        [style.backgroundColor]="nodeStyle.color"
        [style.width.px]="nodeStyle.size"
        [style.height.px]="nodeStyle.size"
        [style.border]="nodeStyle.border"
    ></button>

    <div *ngIf="node?.generatorPositions && (node?.generatorPositions?.length ?? 0) > 0" class="absolute inset-0">
        <button 
            *ngFor="let position of node?.generatorPositions ?? []; let i = index;" 
            (click)="clickGenerator(i)"
            class="absolute cursor-pointer" 
            [style.left.px]="position.x" 
            [style.top.px]="position.y"
        >
            <fa-icon [icon]="faIndustry" class="text-lg text-gray-700"></fa-icon>
        </button>
    </div>
</div>