.grid-select {
    background-color: var(--secondary-color);
    border: 2px solid rgb(32, 32, 32);
    color: rgb(240, 240, 240);
}

.grid-select-popover {
    background-color: var(--secondary-color);
    border: 2px solid rgb(32, 32, 32);
}