<div class="grid grid-cols-2 gap-x-20 p-4 bg-gray-50 text-gray-800 border border-gray-300 rounded-b-md shadow-sm">
    <div>
        <div class="text-lg font-semibold pb-2">
            Metadata
        </div>
        <div class="grid grid-cols-2 gap-y-2 whitespace-nowrap">
            <div class="font-semibold">Grid ID:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.gridId ?? "" }}</div>
            <div class="font-semibold">Bus Name:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.busName ?? "" }}</div>
            <div class="font-semibold">Created at:</div>
            <div></div>
            <!-- <div class="text-gray-800">{{ dataFormatterService.formatDate(gridStateService.selectedNode?.createdAt) }}</div> -->
            <div class="font-semibold">Latitude:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.latitude ?? "" }}</div>
            <div class="font-semibold">Longitude:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.longitude ?? "" }}</div>
        </div>
    </div>

    <div>
        <div class="text-lg font-semibold pb-2">
            State
        </div>
        <div class="grid grid-cols-2 gap-y-2 whitespace-nowrap">
            <div class="font-semibold">Last Updated:</div>
            <div></div>
            <!-- <div class="text-gray-800">{{ dataFormatterService.formatDate(gridStateService.selectedNode?.state?.updatedAt) }}</div> -->
            <div class="font-semibold">Voltage Magnitude:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.state?.voltageMagnitude ?? "" }}</div>
            <div class="font-semibold">Voltage Angle:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.state?.voltageAngle ?? "" }}</div>
            <div class="font-semibold">Active Power Injection:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.state?.activePowerInjection ?? "" }}</div>
            <div class="font-semibold">Reactive Power Injection:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.state?.reactivePowerInjection ?? "" }}</div>
            <div class="font-semibold">Phase Shifting Transformer Tap Position:</div>
            <div class="text-gray-800">{{ gridStateService.selectedNode?.state?.phaseShiftingTransformerTapPosition ?? "" }}</div>
        </div>
    </div>
</div>