<div class="page-std-padding-x page-std-padding-y overflow-y-auto">
    <app-grid-header></app-grid-header>

    <div class="border border-gray-400">
        <app-grid-map
            [nodes]="buses"
            [edges]="edges"
            [selectedAddOption]="gridStateService.selectedAddOption"
        ></app-grid-map>
    </div>

    <app-add-element-panel
        [isAddModeOn]="gridStateService.isAddModeOn"
    ></app-add-element-panel>

    <app-grid-details-panel></app-grid-details-panel>
</div>